<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrylovestan.arsenal.modules.beanFilter.mapper.FilterRuleMapper">

    <select id="getRulesByBusIdAndType" resultType="com.zrylovestan.arsenal.modules.beanFilter.entity.FilterRule">
        select * from filter_rule
        where bus_id = #{busId}
            and rule_type = #{ruleType}
    </select>
</mapper>