<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmbnb.weChatNotice.modules.cbs.mapper.KsInfoMapper">

    <select id="getKsInfoCount" resultType="Integer">
        select count(0)
        from ksinfo
    </select>


    <insert id="addKsInfoList">
        insert into ksinfo
        (
            `bmi_nbr`, `oth_nam`, `rm1_inf`
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.bmiNbr}, #{item.othNam}, #{item.rm1Inf}
        )
        </foreach>
    </insert>

    <delete id="deleteAllKsInfo">
        delete from ksinfo
        where 1=1
    </delete>

</mapper>