<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrylovestan.arsenal.modules.wechat.mapper.WechatUserMapper">

    <delete id="deleteAll">
        delete from wechat_user where 1=1
    </delete>

    <insert id="insertList">
        insert into wechat_user
        (
            `name`, `wechat_id`, `delete_flag`
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.name}, #{item.wechatId}, false
        )
        </foreach>
    </insert>


    <update id="updateDeleteFlag">
        update wechat_user
        set delete_flag = true
        where 1=1
    </update>


    <select id="getWechatUserListByName" resultType="com.zrylovestan.arsenal.modules.wechat.entity.WechatUser">
        select * from wechat_user
        where name = #{name} and delete_flag = false
    </select>



    <select id="getWechatUserCnt" resultType="java.lang.Integer">
        select count(0)
        from wechat_user
        <where>
            <if test="name != null and name != ''">
                and `name` like '%'|| #{name} ||'%'
            </if>
            <if test="wechatId != null and wechatId != ''">
                and `wechat_id` like '%'|| #{wechatId}||'%'
            </if>
            <if test="1==1">
                and `delete_flag` = false
            </if>
        </where>
    </select>

    <select id="getWechatUserList" resultType="com.zrylovestan.arsenal.modules.wechat.entity.WechatUser">
        select * from wechat_user
        <where>
            <if test="name != null and name != ''">
                and `name` like '%'|| #{name} ||'%'
            </if>
            <if test="wechatId != null and wechatId != ''">
                and `wechat_id` like '%'|| #{wechatId}||'%'
            </if>
            <if test="1==1">
                and `delete_flag` = false
            </if>
        </where>
        order by id asc
        <if test="offSet != null">
            LIMIT #{offSet}, #{pageRow}
        </if>

    </select>

    <select id="getWechatUserExportList" resultType="com.zrylovestan.arsenal.modules.wechat.entity.WechatUser">
        select * from wechat_user
        where delete_flag = false
    </select>



</mapper>